{% extends 'inventory/base.html' %}

{% block content %}
  <style>
    /* CSS styles */
    body {
      background-color: #f0f6fc; /* light blue */
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
    }
    .container {
      text-align: center;
      padding: 20px;
    }
    h2 {
      color: #333;
      font-size: 24px;
      margin-bottom: 10px;
    }
    table {
      width: 100%;
      margin-bottom: 20px;
      border-collapse: collapse;
    }
    th, td {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: left;
      color: #333;
    }
    th {
      background-color: #007bff;
      color: #fff;
    }
    tr:nth-child(even) {
      background-color: #f2f2f2;
    }
    .btn-primary {
      background-color: #007bff;
      color: #fff;
      padding: 10px 20px;
      text-decoration: none;
      border: none;
      border-radius: 5px;
      font-size: 16px;
    }
    .btn-primary:hover {
      background-color: #0056b3;
    }
    .button-container {
      margin-bottom: 20px;
    }
  </style>

  <div class="container">
    <h2>User List</h2>
    <table>
      <tr>
        <th>Username</th>
        <th>Email</th>
        <th>Role</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
      {% for user in users %}
      <tr>
        <td>{{ user.username }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.role }}</td>
        <td>{{ user.status }}</td>
        <td><a href="{% url 'update_user_role' user.id %}">Update Role</a></td>
        <td><a href="{% url 'delete_user' user.id %}">Delete</a></td>
      </tr>
      {% endfor %}
    </table>

    <div class="button-container">
      <a href="{% url 'add_user' %}" class="btn btn-primary">Add User</a>
      <a href="{% url 'admin_dashboard' %}" class="btn btn-primary">Admin Dashboard</a>
    </div>
  </div>

{% endblock %}